<html>
    <body>
        {% if result %}
          <p> 
            <h1 style="font-size:1.2em">
               Good evening, please input text for classification is below:
            </h1>
         </p>
          <p style="color:blue">{{display_text}} </p>
          <p> 
            <h2 style="font-size:1.2em">
               The predicted emotion is below.
            </h2>
         </p>
          <p>
            <h3 style="color:red">
               {{result}} 
            </h3>
         </p>
        {% endif %}
        input the text
        <form action = "./" method = "POST" enctype = "multipart/form-data">
           <input type="text" name="input_text" size="200" value="input the text"></p>
           <input type = "submit"/>
        </form>
     </body>
</html>